/login.php
/koneksi.php
/proses_login.php
/.htaccess
/assets/img/foto_profile
/SijugaNonPSO/AdminNonPSO/file_admin_non_pso
/SijugaNonPSO/AdminNonPSO/proses/koneksi.php
/SijugaNonPSO/AdminNonPSO/view/koneksi.php

/SijugaNonPSO/SuperAdmin/file_admin
/SijugaNonPSO/SuperAdmin/proses/koneksi.php
/SijugaNonPSO/SuperAdmin/view/koneksi.php

/SijugaPSO/AdminPSO/file_admin_pso
/SijugaPSO/AdminPSO/proses/koneksi.php
/SijugaPSO/AdminPSO/view/koneksi.php

/Direktur/koneksi.php
/Direktur/SijugaNonPSO/view/koneksi.php
/Direktur/SijugaNonPSO/proses/koneksi.php
/Direktur/SijugaNonPSO/view/VRincianLR/koneksi.php
/Direktur/SijugaPSO/view/koneksi.php
/Direktur/SijugaPSO/proses/koneksi.php
/Direktur/SijugaPSO/view/VRincianLR/koneksi.php
