/login.php
/koneksi.php
/proses_login.php
/.htaccess
/assets/img/foto_profile
/SijugaNonPSO/Admin/file_admin
/SijugaNonPSO/Admin/proses/koneksi.php
/SijugaNonPSO/Admin/view/koneksi.php

/Direktur/koneksi.php
/Direktur/SijugaNonPSO/view/koneksi.php
/Direktur/SijugaNonPSO/proses/koneksi.php
/Direktur/SijugaNonPSO/view/VRincianLR/koneksi.php
/Direktur/SijugaPSO/view/koneksi.php
/Direktur/SijugaPSO/proses/koneksi.php
/Direktur/SijugaPSO/view/VRincianLR/koneksi.php
